html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}
body, h1, h2, h3 {
    font-weight: 400;
    font-family: "Varela Round", sans-serif;
}

a {
    color: #782b90;
}

a:hover,
a:focus {
    color: #782b90;
    text-decoration: underline;
}

.btn-primary {
    background-image: -webkit-linear-gradient(top, #6f5499 0%, #782b90 100%);
    background-image:      -o-linear-gradient(top, #6f5499 0%, #782b90 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6f5499), to(#782b90));
    background-image:         linear-gradient(to bottom, #6f5499 0%, #782b90 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6f5499', endColorstr='#782b90', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    background-color: #782b90;
    border-color: #563d7c;
}

.btn-primary:hover,
.btn-primary:focus {
    background: #782b90 0 -15px;
}

.btn-primary:active,
.btn-primary.active {
    background-color: #782b90;
    border-color: #563d7c;
}

.start-header {
    color: #eee;
    background-color: #34302d;
    font-size: 25px;
    padding: 0.5em 0;
    border-top: 4px solid #782b90;
}

.start-header h1 {
    text-transform: uppercase;
}

.start-header small {
    text-transform: none;
    font-size: 50%;
}

.project-choice {
    margin: 1em 0;
}

#starters {
    min-height: 3em;
}

button.btn-primary {
    margin-top: 1em;
}

button kbd {
    background: none;
    margin-left: 0.5em;
    box-shadow: none;
}

input[type=text] {
    font-family: monospace;
    background-color: #fafafa;
}

.tag {
    background-color: #782b90;
    color: #fff;
    font-weight: 700;
    border-radius: .25em;
    display: inline-block;
    padding: 0.4em 0.7em;
    margin: 0.2em;
}

.tag .close {
    float: none;
    margin-left: 0.2em;
}

.advanced {
    margin: 1em 0;
}

/* autocomplete */

#autocomplete, .twitter-typeahead, .tt-hint {
    width: 100%;
}

.tt-query {
    width: 550px;
}

.tt-query,
.tt-hint {
    height: 34px;
    padding: 8px 12px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
}

#autocomplete:focus {
    border: 2px solid #0097cf;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-menu {
    width: 550px;
    margin: 12px 0;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #5d5d5d;
    color: #eee;
    padding: 20px 0;
}

footer a:hover, footer a:focus {
    color: #6db33f;
}
